*{
    font-family: cursive;
}
.bg-green{
    background-color: rgb(195, 230, 228);
}
.c-teal{
    color: teal;
}
.p-t-20{
    padding-top: 20px;
}
.p-l-20{
    padding-left: 20px;
}
.bor-bottom-black{
    border-bottom: dashed black;
}